.select-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }
  
  .question-type {
    margin-right: 1rem;
  }
  
  .question-type fa-icon {
    margin-right: 10px;
  }

  
  .question-type-selection-container {
    flex: 2;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 0.7rem 1rem;

  }
  
  .question-type-selection-container fa-icon {
    color: rgba(0, 0, 0, 0.6);
  }
  
  
  .question-type-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
    right: -40px;
    top: -40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .options .option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #f1f3f4;
    border-radius: 4px;
    padding-right: 4rem;
  }
  
  .options .option fa-icon {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .options .option p {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .options .option:hover {
    background-color: #d5d5d5;
  }
  
