<div class="question-type-selection-container" (click)="toggleDropdown()">
  <div class="select-btn">
    <div class="question-type">
      <fa-icon [icon]="selectedTypeIcon"></fa-icon>
      {{ selectedType }}
    </div>
    <fa-icon [icon]="faCaretDown"></fa-icon>
  </div>
</div>

<div class="question-type-options" *ngIf="isOpen">
  <ul class="options">
    <li class="option" *ngFor="let questionType of questionTypeList" (click)="selectOption(questionType.name)">
      <fa-icon [icon]="questionType.icon"></fa-icon>
      <span>{{ questionType.name }}</span>
    </li>
  </ul>
</div>