<div class="markdown-container">
  <div class="markdown-options">
    <div class="markdown-option">
      <i class="fa-regular fa-circle" aria-hidden="true"></i
      ><input type="text" placeholder="Option" />
    </div>
  </div>
  <div class="markdown-add-option">
    <i class="fa-regular fa-circle" aria-hidden="true"></i
    ><button>Add another</button>
  </div>
</div>
<div class="question-constrains"></div>

<!-- ------------------------------------- -->
<div class="markdown-container">
  <div class="markdown-options">
    <div class="markdown-option">
      <i class="fa-regular fa-square" aria-hidden="true"></i
      ><input type="text" placeholder="Option" />
    </div>
  </div>
  <div class="markdown-add-option">
    <i class="fa-regular fa-square" aria-hidden="true"></i
    ><button>Add another</button>
  </div>
</div>

<div class="question-constrains">
  <div class="min-selection">
    <label
      ><input min="1" value="1" type="number" /><span>
        Min Selection</span
      ></label
    >
  </div>
  <div class="max-selection">
    <label
      ><input min="1" value="1" type="number" /><span>
        Max Selection</span
      ></label
    >
  </div>
</div>

<!-- ---------------------------------------------------------------- -->

<div class="markdown-container">
  <div class="markdown-options">
    <div class="markdown-option">
      <p class="num-sequence">1.</p>
      <input type="text" placeholder="Option" />
    </div>
  </div>
  <div class="markdown-add-option">
    <p class="num-sequence"></p>
    <button>Add another</button>
  </div>
</div>
<div class="question-constrains"></div>

<!-- ------------------------------------------------------------ -->

<div class="paragraph-container">
  <textarea
    class="paragraph-textarea"
    placeholder="Paragraph text"
    disabled="true"
  ></textarea>
</div>
<div class="question-constrains">
  <div class="min-length">
    <label
      ><input min="0" value="1" type="number" /><span>
        Min Character</span
      ></label
    >
  </div>
  <div class="max-length">
    <label
      ><input min="0" value="2000" type="number" /><span>
        Max Character</span
      ></label
    >
  </div>
</div>

<!-- --------------------------------------------------  -->
<div class="number-range-type-container">
  <input
    class="number-range-type"
    type="number"
    disabled="true"
    placeholder="number as input"
  />
</div>
<div class="question-constrains">
  <div class="min-value">
    <label><input min="0" type="number" /><span> Min Value</span></label>
  </div>
  <div class="max-value">
    <label><input min="0" type="number" /><span> Max Value</span></label>
  </div>
</div>

<!-- ---------------------------------------------------  -->

<div class="date-type-container">
  <input class="date-type" type="date" disabled="true" />
</div>
<div class="question-constrains">
  <div class="start-date">
    <label><input type="date" /><span> Start Date</span></label>
  </div>
  <div class="end-date">
    <label><input type="date" /><span> End Date</span></label>
  </div>
</div>

<!-- ---------------------------------------------------------------  -->

<div class="time-type-container">
  <input class="time-type" type="time" disabled="true" />
</div>
<div class="question-constrains">
  <div class="start-time">
    <label><input type="time" /><span> Start Time</span></label>
  </div>
  <div class="end-time">
    <label><input type="time" /><span> End Time</span></label>
  </div>
</div>

<!-- ------------------------------------------------------------------ -->

  <div class="file-image-type-container">
    <input class="file-image-type" type="file" disabled="true" />
  </div>
  <div class="question-constrains">
    <div class="image-type-selection">
      <label><input value=".jpeg" type="checkbox" /><span> JPEG</span></label
      ><label><input value=".png" type="checkbox" /><span> PNG</span></label
      ><label><input value=".gif" type="checkbox" /><span> GIF</span></label
      ><label><input value=".tiff" type="checkbox" /><span> TIFF</span></label
      ><label><input value=".svg" type="checkbox" /><span> SVG</span></label
      ><label><input value=".webp" type="checkbox" /><span> WEBP</span></label>
    </div>
    <div class="image-size">
      <label
        ><input min="0" value="5" type="number" /><span>
          Max Size (MB)</span
        ></label
      >
    </div>
  </div>

