<nav>
  <div class="nav-container">
    <div class="nav-form-info">
      <div class="nav-logo">
        <fa-icon [icon]="faClipboardList"></fa-icon>
      </div>
      <div class="nav-title">
        <h1>Survey Time</h1>
        <div class="underline"></div>
      </div>
    </div>
    <div class="nav-details">
      <div class="dynamic-container">
        <div *ngFor="let button of dynamicContent">
            <button appButton (click)="buttonClick($event, button)">
              {{ button.label }}
            </button>
        </div>
      </div>
      <div *ngIf="isUserLoggedIn" class="user-details">
        <div class="profile">
          <h2>
            {{ firstLetterOfEmailId }}
          </h2>
        </div>
        <div class="sign-out">
          <a (click)="logoutUser()">
            <fa-icon [icon]="faSignOut"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
