nav {
    display: block;
    margin-bottom: 20px;
}

.nav-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-form-info {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo fa-icon {
    color: #889e73;
    font-size: 2rem;
}

.nav-title h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.underline {
    border-bottom: 3px solid #000;
    width: 100%;
}

.nav-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.user-details{
    width: 40px;
    height: 40px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #889e73;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dynamic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* logout hover effect on profile  */
.user-details {
    display: flex;
    cursor: pointer;
    position: relative;
}

.user-details .sign-out {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;

}

.user-details:hover .profile {
    display: none;
}

.user-details:hover .sign-out {
    display: flex;
    background-color: #889e73;
}

.user-details:hover .sign-out a {
    color: #fff;
}

.user-details:active .sign-out {
    background-color: #fff;
}

.user-details:active .sign-out a{
    color: #889e73;
}


