<div class="question-container container-box active-box">
  <div class="question-selection">
    <textarea placeholder="Question"></textarea>




    <app-dropdown></app-dropdown>




    
  </div>

  <!-- seperator  -->
  <div class="question-separator"></div>

  <div class="question-selected-type-container">
    <!-- type selector will be replaced here  -->
  </div>

  <!-- seperator  -->
  <div class="question-separator"></div>

  <!-- footer  -->
  <div class="question-container-footer">
    <div class="required">
      <label>
        <input type="checkbox" />
        <p>Required</p>
      </label>
    </div>
  </div>
</div>
