<form
  [formGroup]="singleQuestion"
  class="question-container container-box active-box"
>
  <div class="question-selection">
    <textarea formControlName="question" placeholder="Question"></textarea>
    <app-dropdown (optionSelected)="handleSelection($event)"></app-dropdown>
  </div>

  <!-- seperator  -->
  <div class="question-separator"></div>

  <app-type [questionType]="questionType"></app-type>

  <!-- seperator  -->
  <div class="question-separator"></div>

  <!-- footer  -->
  <div class="question-container-footer">
    <div class="required">
      <label>
        <input formControlName="isRequired" type="checkbox" />
        <p>Required</p>
      </label>
    </div>
  </div>
</form>
