<div class="side-menu">
  <div class="add-question">
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>
  <div class="delete-question">
    <fa-icon [icon]="faTrash"></fa-icon>
  </div>
</div>

<div class="form-body-container">
  <form [formGroup]="surveyDetailsForm" class="form-heading container-box active-box">
    <div class="form-heading-title-div">
      <input
        class="form-heading-title-input"
        placeholder="Survey Title"
        type="text"
        formControlName="surveyTitle"
      />
    </div>
    <div class="form-heading-discription-div">
      <input
        class="form-heading-discription-input"
        type="text"
        placeholder="Survey description (optional)"
        formControlName="surveyDescription"
      />
    </div>
    <div class="error" *ngIf="surveyDetailsForm.get('surveyTitle')?.invalid && surveyDetailsForm.get('surveyTitle')?.touched">
      Title is required
    </div>
  </form>


  


  <app-question 
  *ngFor="let i of [].constructor(numberOfQuestions)"
  (formEmitter)="addFormToQuestion($event)"
  ></app-question>

</div>
